@using BookRent.App.ViewModels
@model VMGenre
@{
    ViewData["Title"] = "Create";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="container">
    <form asp-action="Create" method="post">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label asp-for="GenreCategory"></label>
                    <input asp-for="GenreCategory" class="form-control" />
                </div>             
                <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
            </div>
        </div>
    </form>
</div>

@* <script>
    function saveGenre() {
        var genre = {
            GenreCategory: $("#GenreCategory").val()
        };

        $.ajax({
            url: '/Genre/Create',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(genre),
            success: function () {
                alert("Genre saved successfully!");
                window.location.href = "/Genre/Index";
            },
            error: function () {
                alert("Error occurred while saving!");
            }
        });
    }
</script>

<input type="text" id="Name" class="form-control" />
<button onclick="saveGenre()">Save</button> *@