@using BookRent.App.ViewModels
@model VMGenre
@{ 
    ViewData["Title"] = "Edit";
}
<div class="container">
    <form asp-action="Edit" method="post">
        <div class="row">
            <div class="col-6">
                <input type="hidden" asp-for="GenreID" />
                
                <div class="form-group">
                    <label asp-for="GenreCategory"></label>
                    <input asp-for="GenreCategory" class="form-control" />
                </div>
                <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
            </div>
        </div>
    </form>
</div>