@using BookRent.App.ViewModels
@model VMBook
@{
	ViewData["Title"] = "Edit";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="container mt-3 form-control">
	<h3> Edit Book</h3>
	<hr />
	<form method="post" asp-action="Edit" enctype="multipart/form-data">
		<input type="hidden" asp-for="BookId" />
		<div class="row">
			<div class="mb-3 col-1">
				<label for="ISBN" class="form-label">ISBN</label>
			</div>
			<div class="mb-3 col-5">
				<input asp-for="ISBN" class="form-control-sm" />
			</div>

			<div class="mb-3 col-1">
				<label for="Price" class="form-label">Price</label>
			</div>
			<div class="mb-3 col-5">
				<input asp-for="Price" class="form-control-sm" />
			</div>
		</div>

		<div class="row">
			<div class="mb-3 col-1">
				<label for="Title" class="form-label">Title</label>
			</div>
			<div class="mb-3 col-5">
				<input asp-for="Title" class="form-control-sm" />
			</div>
			<div class="mb-3 col-1">
				<label for="Author" class="form-label">Author</label>
			</div>
			<div class="mb-3 col-5">
				<input asp-for="Author" class="form-control-sm" />
			</div>
		</div>

		<div class="row">
			<div class="mb-3 col-1">
				<label for="Description" class="form-label">Description</label>
			</div>

			<div class="mb-3 col-5">
				<textarea asp-for="Description" class="form-select-lg w-100" rows="2"></textarea>
			</div>
			<div class="mb-3 col-1">
				<label for="GenreID" class="form-label">Genre</label>
			</div>
			<div class="mb-3 col-5">
				<select asp-for="GenreId" class="form-select-sm">
					<option value="">Select Genre</option>
					@foreach (var @item in Model.Genre)
					{
						<option value="@item.GenreId">@item.Title</option>
					}
				</select>
			</div>
		</div>

		<div class="row">
			<div class="mb-3 col-1">
				<label for="PublisherName" class="form-label">Publisher Name</label>
			</div>
			<div class="mb-3 col-5">
				<input asp-for="PublisherName" class="form-control-sm" />
			</div>
			<div class="mb-3 col-1">
				<label for="PublicationDate" class="form-label">Publication Date</label>
			</div>
			<div class="mb-3 col-5">
				<input asp-for="PublicationDate" class="form-control-sm" />
			</div>
		</div>

		<div class="row">
			<div class="mb-3 col-1">
				<label for="TotalPages" class="form-label">Pages</label>
			</div>
			<div class="mb-3 col-5">
				<input asp-for="TotalPages" class="form-control-sm" />
			</div>
			<div class="mb-3 col-1">
				<label for="BookDimensions" class="form-label">Book Dimensions</label>
			</div>
			<div class="mb-3 col-5">
				<input asp-for="BookDimensions" class="form-control-sm" />
			</div>
		</div>	
		<div class="row">
			<div class="mb-3 col-1">
				<label for="BookUrl" class="form-label">Book Image</label>
			</div>
			<div class="mb-3 col-5">
				<input asp-for="BookImage" class="form-control-sm" />
			</div>
		</div>
		<div class="row">
			<div class="mb-3 col-1">
				<label for="IsAvailable" class="form-label">Availability</label>
			</div>
			<div class="mb-3 col-5">
				<select asp-for="IsAvailable" class="form-select-sm">
					<option value=true selected>Yes</option>
					<option value=false>No</option>
				</select>
			</div>
		</div>

		<div class="mb-3 text-center">
			<button type="submit" value="submit" class="btn btn-primary">Submit</button>
		</div>
	</form>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>